@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400&display=swap');

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/* color */
.color-d80f65 {
    color:#d80f65;
}
/* end color */

/* font-size */
.fs-0d8 {
    font-size:.8rem;
}
/* end font-size */