@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400&display=swap');

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/* color */
.color-d80f65 {
    color:#d80f65;
}
.bg-white {
    background-color: white;
}
/* end color */

/* font-size */
.fs-0d8 {
    font-size:.8rem;
}
/* end font-size */

/* mui customize */
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
    background: white !important;
    padding-right: 5px !important;
}
.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root>.no-hover {
    background-color: white !important;
}
/* end mui customize */