@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400&display=swap');

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
input, select {
    border: none;
}
input:focus-visible, select:focus-visible {
    outline: none;
}
textarea:focus-visible {
    outline: 1px solid #4e4f50 !important;
}

/* color */
.color-f85a59 {
    color: #f85a59;
}
.color-ecb00a {
    color: #ecb00a;
}
.color-hover-f85a59:hover {
    color: #f85a59 !important;
}
.color-black {
    color: black;
}
.color-c4 {
    color: #c4c4c4;
}
.color-6a {
    color: #6a6a6a;
}
.color-ffffffb3 {
    color: #ffffffb3;
}
.bg-white {
    background-color: white;
}
.bg-f85a59 {
    background-color: #f85a59, 
}
.bg-78d5ef {
    background-color: #78d5ef;
}
/* end color */

/* font-size */
.fs-0d8 {
    font-size:.8rem;
}
.fs-0d9 {
    font-size:.9rem;
}
/* end font-size */

.hover-underline:hover {
    text-decoration: underline;
}
.hover-color-ecb00a:hover {
    color: #ecb00a !important;
}

.flaticon-guarantee:before {content: "\f100";}

/* space */
.gap-3 {
    gap: 3rem;
}
.gap-4 {
    gap: 4rem;
}
/* end space */

.bg-cover {
    background-size: cover;
}
.bg-center {
    background-position: center;
}
.bg-norepeat {
    background-repeat: no-repeat;
}
.opacity-0d5 {
    opacity: 0.5;
}
.box-shadow-none {
    box-shadow: none !important;
}
.cursor-pointer {
    cursor: pointer;
}
.menu-item {
    color: white;
}
.menu-item:hover {
    color: white;
    font-weight: 600;
}
.z-1 {
    z-index: 1;
}
.slick-prev, .slick-next { 
    color: #f85a59 !important;
    width: 2rem !important;
    height: 2rem !important;
}
.pagination-section > ul > li {
    display: inline-block;
    margin: 0 .3rem;
    padding: 1rem;
    width:1rem;
    height:1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    vertical-align: middle;
    position: relative;
}
.pagination-section > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
}
.pagination-section .selected {
    background-color: #f85a59 !important;
    color: white !important;
}
.a-c {
    padding-top: 0rem;
    padding-bottom: 0rem;
    transition: height 1s,padding-top 1.5s;
    height: 0;
}
.a-o {
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: height 1s ,padding-top 1.5s;
    height: 12rem;
}
.text-line-through {
    text-decoration: line-through;
}
.img-skeleton {
    -webkit-transform: none !important;
    border-radius: 5 !important;
}
/* mui customize */
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
    background: white !important;
    padding-right: 5px !important;
}
.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root>.no-hover {
    background-color: white !important;
}
.categories-buttons > .css-ugdaoh-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #f85a59;
    color: white;
}
/* end mui customize */

